#app{
    background: url('../images/yunshi/back.png');
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}
.everyDay{
    width:6.67rem;
    min-height:5rem;
    /* position: absolute;
    left: 50%;
    margin-left: -3.335rem; */
    /* top: 4.6rem; */
    margin: 4.6rem auto 1rem;
    background: url('../images/yunshi/dikuang.png');
    background-size: 100% 100%;
    overflow: hidden;
}
.fengexian{
    display: block;
    width: 6rem;
    height: .8rem;
    margin: .8rem auto 0;
}
.basic-info{
    font-size:.28rem;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    display: inline-block;
    margin-left: .6rem;
    margin-top: .3rem;
    color:rgba(168,33,49,1);
    margin-bottom: .3rem;
}
.detail-txt{
    font-size:.24rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-left: .6rem;
    line-height: .4rem;
}
.fgline{
    width: 4rem;
    display: block;
    margin: .3rem auto .3rem;
}
.detail-auto{
    width: 5.5rem;
    margin: 0 auto 1rem;
    line-height: .35rem;

}