#app{
  position: relative;
  background: url('../images/icon/back.jpg');
  background-size:100% 100%; 
  overflow: hidden;
}
[v-cloak]{
  display: none;
}
header {
  width: 100%;
  height: .8rem;
  background: #b31c21;
  font-size:.28rem;
  font-family:FZS3JW--GB1-0;
  font-weight:normal;
  color:rgba(255,255,255,1);
  line-height:.8rem;
  /* -webkit-text-stroke:2px rgba(255,255,255,1);
  text-stroke:2px rgba(255,255,255,1); */
  text-indent: 1em;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
header button{
  width:1.68rem;
  height:.54rem;
  background:rgba(255,255,255,1);
  border-radius:.32rem;
  float: right;
  margin-top: .14rem;
  margin-right: .3rem;
  color: #B31C21;
  font-size:.24rem;
}
.container{
  width: 6.5rem;
  height: 6.5rem;
  margin: 1.36rem auto 0;
  background: url('../images/icon/container.png');
  background-size:100% 100%; 
  position: relative;
  /* border: 1px solid; */
}
.container>div{
  position: absolute;
  width: 1.16rem;
  height: 1.16rem;
  /* background: pink; */
}
.container>.click_btn1{
  left: 50%;
  margin-left: -.58rem;
  top: 0;
}
.container>.click_btn2{
  right: .8rem;
  top:.72rem;
}
.container>.click_btn3{
  right: 0rem;
  top:2.66rem;
}
.container>.click_btn4{
  right: 0.78rem;
  top:4.58rem;
}
.container>.click_btn5{
  left: 50%;
  margin-left: -.58rem;
  bottom: 0;
}
.container>.click_btn6{
  left: 0.78rem;
  top:4.58rem;
}
.container>.click_btn7{
  left: 0rem;
  top:2.66rem;
}
.container>.click_btn8{
  left: .8rem;
  top:.72rem;
}