#app{
  position: relative;
  /* background: url('../images/icon/back.jpg'); */
  background: #F9F3ED;
  background-size:100% 100%; 
  overflow: hidden;
}
[v-cloak]{
  display: none;
}


header {
  width: 100%;
  height: .8rem;
  background: #b31c21;
  font-size:.28rem;
  font-family:FZS3JW--GB1-0;
  font-weight:normal;
  color:rgba(255,255,255,1);
  line-height:.8rem;
  /* -webkit-text-stroke:2px rgba(255,255,255,1);
  text-stroke:2px rgba(255,255,255,1); */
  text-indent: 1em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
header button{
  width:1.68rem;
  height:.54rem;
  background:rgba(255,255,255,1);
  border-radius:.32rem;
  float: right;
  margin-top: .14rem;
  margin-right: .3rem;
  color: #B31C21;
  font-size:.24rem;
  border: none;
  outline: none;
}



/* 用户详情
 */
.userInfo{
  width: 100%;
  background: #DEA470;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}
.userImg{
  width: .84rem;
  height: .84rem;
  border-radius: 50%;
  margin: .22rem .3rem 0.22rem .3rem;
}
.userInfo .userDetail{
  display: flex;
  flex-direction: column;
}
.userInfo .userDetail p:nth-child(1){
  font-size:.32rem;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(255,255,255,1);
  margin: .3rem 0 0 0 ;
}
.userInfo .userDetail p:nth-child(2){
  font-size:.24rem;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(255,255,255,1);
  margin: .2rem 0 0 0 ;
}
.userPercent{
  display: flex;
  flex-direction: column;
  /* margin-left:1.4rem;  */
  width: 2.7rem;
}
.userPercent p{
  /* text-align: center; */
  text-indent: 1em;
  color: #ffffff;
  line-height: .4rem;
  margin: .3rem 0 0 0;
}
.userPercentBox{
  width: .68rem;
  height: .68rem;
  border-radius: 50%;
  overflow: hidden;
  font-size:.22rem;
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(163,71,8,1);
  position: relative;
  text-align: center;
  line-height: .68rem;
  background: #fff;
  margin: .1rem auto ;
}
.userPercentBox p{
  width: 100%;
  z-index: 1;color: #DEA470;position: absolute;
  line-height: .68rem;
  text-align: center;
}
.userPercentBox .userPercentNum{
  width: 100%;
  background: #FFCF54;
  position: absolute;
  left: 0;
  bottom: 0;
}
.right_arrow{
  width: .5rem;
  height: .5rem;
  float: right;
  margin: .4rem 0rem 0 .2rem ;
}




.container{
  width: 6rem;
  height: 6rem;
  margin: 1.7rem auto 0;
 background: url('../images/icon/lineBorder.png');
 background-size: 100% 100%;
  position: relative;
  /* border: 1px solid; */
}
.container>div{
  position: absolute;
  width: 1.34rem;
  height: 1.34rem;
   /*background: pink; */
}
.container>div>div{
  position: relative;
  width: 100%;
  height: 100%;
}
.container>div>div p{
  position: absolute;
  width: 100%;
  bottom: -.3rem;
  font-size: .26rem;
  text-align: center;
}

.container>.click_btn:nth-child(1){
  /*left: 50%;
  margin-left: -.58rem;
  top: 0.05rem;*/
 left: 50%;
       margin-left: -.86rem; 
    top: 2.2rem;
     width: 1.72rem;
  height: 1.72rem;
}
.container>.click_btn:nth-child(2){
     left: 0rem;
     top: 3rem;
}
.container>.click_btn:nth-child(3){
     right: 0rem;
    top: 3rem;
}
.container>.click_btn:nth-child(4){
  right: 1.25rem;
    top: 4.8rem;
}
.container>.click_btn:nth-child(5){
  left: 1.25rem;
    
    top: 4.8rem;
}
.container>.click_btn:nth-child(6){
 left:  0.4rem;
    top: .9rem;
    
}
.container>.click_btn:nth-child(7){
     right: 0.4rem;
    top: .9rem;
}
.container>.click_btn:nth-child(8){
      
 left: 50%;
  margin-left: -.67rem;
  top: 0.04rem;
}
.popular{
  width: 100%;
  height: 2rem;
  background: #FFFFFF;
  box-shadow:0px 12px 28px 0px rgba(82,30,15,0.3);
  border-radius:.2rem .2rem 0 0;
  position: fixed;
  bottom: .98rem;
  transition: 0.3s;
}
.popular_box{
  line-height: .5rem;
}
.popular_hot{
  width: .42rem;
  height: .36rem;
  margin: 0 .1rem 0 .4rem;
}
.popular_text{
  font-size:.28rem;
  font-family:FZTYSJW--GB1-0;
  font-weight:normal;
  color:rgba(163,71,8,1);
}
.popular_title {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .2rem;
}
/* .popular_title span{
  height: 0.5rem;;
  background:rgba(251,241,233,1);
  border-radius:.24rem;
  line-height: .5rem;
  padding: 0 .25rem;
  font-size:.24rem;
  font-family:FZS3JW--GB1-0;
  font-weight:normal;
  color:rgba(163,71,8,1);
  margin: .25rem .2rem 0 0;
} */
/* .popular_hot_title{
  width: 33%;
} */
.popular_hot_title img{
  width: .76rem;
  height: .76rem;
  border-radius: 50%;
  border: none;
  float: left;
  margin: .1rem;
}
.popular_hot_title span{
  display: inline-block;
  line-height: .9rem;
}

.click_up{
  display: block;
  width: .5rem;
  margin: .2rem auto 0;
}
.popular_table{
  width: 100%;
}
.popular_table tr td{
  width: 33%;
  border: 1px solid #F0DAC7;
}


.popular_remen{
  
}