<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>周公解梦</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/OliveDreamInfo.css" />
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <span>梦见：</span>{{mes}}
    </div>
    <div class="titleBg">
        <img src="../assets/images/icon/ODtitle.png">
    </div>
    <div class="main-bg"></div>
    <div class="main">
        <div class="mesLIst" v-for="item in mesLIst">
            <p>{{item.desc}}</p>
            <span v-for="items in item.list">{{items}}</span>
        </div>
    </div>
</div>
<div class="bg"></div>
</body>
<script src="../static/js/vue.min.js"></script>
<script src="../assets/js/zepto.js"></script>
<script src="../assets/js/util.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            mesLIst:[],
            mes:''
        },
        created() {
            getLocalStorage('token');
            this.mes = getUrlParam('values')
        },
        methods:{

        },
        mounted(){
            var that = this;
            var jsonParams = {"keyword": getUrlParam('values')}
            $.ajax({
                url: baseUrl + 'augury/small/program/api/augury/info/' + getUrlParam('id'),
                type: 'get',
                dataType: 'json',
                headers: {'Authorization': getLocalStorage('token')},
                data: {
                    jsonParams: JSON.stringify(jsonParams)
                },
                success: function (res) {
                    console.log(JSON.parse(res.message))
                    that.mesLIst = JSON.parse(res.message)
                    //console.log(res)
                },
            });
        }
    })
</script>
</html>