<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>个人基础信息</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
  <link rel="stylesheet" href="../assets/css/util.css?v=1.0.01">
  <link rel="stylesheet" href="../assets/css/iosSelect.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/personInfo.css?v=1.0.0" />
  <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b25bf95dd99f58452db28b1e99a1a46f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</head>
<body>
    <div id="app" v-cloak>
        <div class="outBox">
            <div class="content">
                <div class="item item_take">
                        请填写个人信息
                </div>

                <div class="item item_name">
                        <div class="title">姓名</div> 
                        <input type="text" placeholder="请填写姓名" v-model='userInfo.name' maxlength="4" />
                </div>

                <div class="item item_name">
                        <div class="title">选择年份</div> 
                        <div class="timeBox">
                            <div class="chooseGong" @click="selectTime(1)">
                                <div :class="{timeSelect:isTimeSelect}"></div>
                                <span>公历</span>
                            </div>
                            <div class="chooseNong" @click="selectTime(2)">
                                <div :class='{timeSelect:!isTimeSelect}'></div>
                                <span>农历</span>
                            </div>
                        </div>
                        
                </div>

                <div class="item item_name" id="item_pickerTime">
                    <div class="title">出生时间</div> 
                    <div class="form-item item-line" id="selectDate">                     
                        <div class="pc-box">
                            <span data-year="" data-month="" data-date="" id="showDate">请点击选择</span>
                        </div>             
                    </div>
                </div>

                <div class="item item_name">
                    <div class="title">性 别</div> 
                        <div class="timeBox">
                            <div class="chooseGong" @click="selectSex(1)">
                                <div :class="{timeSelect:isSexSelect}"></div>
                                <span>男 &nbsp;&nbsp;</span>
                            </div>
                            <div class="chooseNong" @click="selectSex(2)">
                                <div :class='{timeSelect:!isSexSelect}'></div>
                                <span>女</span>
                            </div>
                        </div>
                        
                </div>


                
                <button class="seeLucky" @click='seeLucky()'>查看个人运势</button>
                
            </div>
            
        </div>
        
        <!-- 消息提示 S-->
        <div id="snackbar"></div>
        <!-- 消息提示 E-->

        <!-- <div class="vant_time_box" id="vant_time_box">
            <van-datetime-picker
            v-model="currentDate"
            type="datetime"
            :min-date="minDate"
            :max-date="maxDate"
            />
        </div> -->
    </div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../assets/component/footer/footer.js"></script>
<script src="../assets/js/util.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vant@1.4/lib/vant.min.js"></script> -->
<script src="../assets/js/zepto.js"></script>
<script src="../assets/js/iosSelect.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            isTimeSelect:true,
            isSexSelect:true,
            minHour: 10,
            maxHour: 20,
            minDate: new Date(1970, 1, 1),
            maxDate: new Date(2119, 10, 1),
            currentDate: new Date(),
            isPicker:false,
            userInfo:{
                name:'',
                hasLunar:false,
                birthday:'',
                sex:'1',
                birthTime:''
            }
        },
        computed:{

        },
        methods:{
            //选择公历还是农历
            selectTime(type){
                if(type == 1){
                    this.userInfo.hasLunar = false;
                    this.isTimeSelect = true
                }else if(type == 2){
                    this.userInfo.hasLunar = true;
                    this.isTimeSelect = false
                }
            },
            //选择性别
            selectSex(type){
                if(type == 1){
                    this.isSexSelect = true;
                    this.sex = 1
                }else if(type == 2){
                    this.isSexSelect = false;
                    this.sex = 0
                }
            },
            //选择出生日期
            // pickerTime(){
            //     var elem = document.getElementById('vant_time_box');
            //     if(this.isPicker == false){
            //         elem.style.bottom = 0 + 'rem';
            //         this.isPicker = true;
            //     }else{
            //         elem.style.bottom = -5.38 + 'rem';
            //         this.isPicker = false;
            //     }
                
            // }

            //查看个人运势
            seeLucky(){
                var that = this;
                console.log(that.userInfo)
                // debugger
                if(that.userInfo.name == '' || that.userInfo.birthTime == '' || that.userInfo.birthday == ''){
                    myFunction('snackbar','请填写完整信息');
                }else{
                    Ajax.post(baseUrl + 'augury/small/program/api/user/update', JSON.stringify(that.userInfo), function(res){
                        console.log(JSON.parse(res))
                        if(JSON.parse(res).code == 200){
                            window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxcb4b1be1d4635c2f&redirect_uri=https://wxcs.nuoweibd.com/statics/zhanbu/footer1/index.html&response_type=code&scope=snsapi_base&state=STATE&connect_redirect=1#wechat_redirect'
                            // window.location.href = 'https://wxcs.nuoweibd.com/statics/zhanbu/footer1/index.html'
                        }
                    });
                }
            }
        },
        mounted(){
            document.getElementById('app').style.minHeight=window.innerHeight+'px';
        }
    })

</script>
<script type="text/javascript">
    var selectDateDom = $('#selectDate');
    var showDateDom = $('#showDate');
    // 初始化时间
    var now = new Date();
    var nowYear = now.getFullYear();
    var nowMonth = now.getMonth() + 1;
    var nowDate = now.getDate();
    showDateDom.attr('data-year', nowYear);
    showDateDom.attr('data-month', nowMonth);
    showDateDom.attr('data-date', nowDate);
    // 数据初始化
    function formatYear (nowYear) {
        var arr = [];
        for (var i = nowYear - 200; i <= nowYear ; i++) {
            arr.push({
                id: i + '',
                value: i + '年'
            });
        }
        return arr;
    }
    function formatMonth () {
        var arr = [];
        for (var i = 1; i <= 12; i++) {
            arr.push({
                id: i + '',
                value: i + '月'
            });
        }
        return arr;
    }
    function formatDate (count) {
        var arr = [];
        for (var i = 1; i <= count; i++) {
            arr.push({
                id: i + '',
                value: i + '日'
            });
        }
        return arr;
    }
    var yearData = function(callback) {
        callback(formatYear(nowYear))
    }
    var monthData = function (year, callback) {
        callback(formatMonth());
    };
    var dateData = function (year, month, callback) {
        if (/^(1|3|5|7|8|10|12)$/.test(month)) {
            callback(formatDate(31));
        }
        else if (/^(4|6|9|11)$/.test(month)) {
            callback(formatDate(30));
        }
        else if (/^2$/.test(month)) {
            if (year % 4 === 0 && year % 100 !==0 || year % 400 === 0) {
                callback(formatDate(29));
            }
            else {
                callback(formatDate(28));
            }
        }
        else {
            throw new Error('month is illegal');
        }
    };
    var hourData = function(one, two, three, callback) {
        var hours = [];
        var hourList = ['子','丑','寅','卯','辰','巳','午','未','申','酉','戌','亥']
        for (var i = 0; i < hourList.length; i++) {
            hours.push({
                id: i,
                value: hourList[i] + '时'
            });
        }
        callback(hours);
    };
    selectDateDom.bind('click', function () {
        var oneLevelId = showDateDom.attr('data-year');
        var twoLevelId = showDateDom.attr('data-month');
        var threeLevelId = showDateDom.attr('data-date');
        var fourLevelId = showDateDom.attr('data-hour');
        var iosSelect = new IosSelect(4,
            [yearData, monthData, dateData, hourData],
            {
                title: '时间选择',
                itemHeight: 35,
                itemShowCount: 9,
                oneLevelId: oneLevelId,
                twoLevelId: twoLevelId,
                threeLevelId: threeLevelId,
                fourLevelId: fourLevelId,
                callback: function (selectOneObj, selectTwoObj, selectThreeObj, selectFourObj) {
                    showDateDom.attr('data-year', selectOneObj.id);
                    showDateDom.attr('data-month', selectTwoObj.id);
                    showDateDom.attr('data-date', selectThreeObj.id);
                    showDateDom.attr('data-hour', selectFourObj.id);
                    showDateDom.html(selectOneObj.value + ' ' + selectTwoObj.value + ' ' + selectThreeObj.value + ' ' + selectFourObj.value);
                
                    //负值
                    vm.userInfo.birthTime = selectFourObj.value;
                    vm.userInfo.birthday = selectOneObj.id + '-' + selectTwoObj.id + '-' + selectThreeObj.id
                }
        });
    });
</script>
</html>